* { transition: all 0.4s ease;}
html, body { height: 100%;}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: silver;
}
.auth-box {
  display: flex; align-items: center; justify-content: center; height: 100vh;
}
.auth-box > div {
  width: 400px;
}
.card {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  border: 0;
}
.card-header {
  box-shadow: 0 4px 18px 0px rgb(0 0 0 / 12%), 0 7px 10px -5px rgb(0 0 0 / 15%);
  padding: 0.8rem 1rem;
}
.main-content {
  margin: 20px 0;
}
.main-content .card {
  margin-bottom: 30px;
}
.card-header .card-title { margin: 0; font-weight: 400;}
/* .main-content .card-header { box-shadow: none;} */
.toast {
  font-size: 1rem;
}
